.container-floyd{
    width: 100%;
    max-height: 100%;
}
#div2{
    background-color: bisque;
}
.container{
    width: 59%;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
body{
    margin: 0 auto;
    width: 98.9vw;
    height: 100vh ;
}
.hed{
    background-color: black;
    color: azure;
    gap: 1vw;
    padding: 1vh;
}

.hed>nav{
    width: 50%;
    /* height: 10vh; */
    gap: 0.5vw;
    flex-wrap: wrap;
    padding: 1vw;
}
nav button{
    width: fit-content;
    height: fit-content;
    background-color: brown;
    border: 2px white solid;
    font-size: 2vw;
    border-radius: 10%;
    padding: 0.7%;
    
}
#result{
    flex-direction: column;
    width: fit-content; 
    font-size: 2vw;
   
}
.timer{
    width:fit-content;
    flex-direction: column;
    gap: 2px;
}
.timer .s{
    width: fit-content;
    font-size: 2vw;
}

.timer .b{
    height: fit-content;
    width: fit-content;
    gap: 0.5vw;
}
.timer button{
    width: fit-content;
    height: fit-content;
    background-color: brown;
    border: 2px white solid;
    font-size: 1.5vw;
    border-radius: 10%;
    padding: 0.7%;
    display: flex;
    justify-content: center;
}

main{
    background-color: rgba(0, 0, 0, 0.611);
}
main .container{
    width: 50%;
    height: 34vw;
    display: flex;
    flex-wrap: wrap;
    border-radius: 5%;
    border: 3vw rgb(255, 255, 255) solid;
}
.playBut{
    width: 33.3%;
    height: 33.3%;
    /* width: fit-content;
    height: fit-content; */
    font-size: 11vw;
    background-color: rgb(229, 255, 0);
    color: black;
    border: 0;
}
#button1,#button3,#button5,#button7,#button9{
    color: aliceblue;
    background-color: rgb(0, 0, 0);
}
#b1-1,#b1-3,#b2-2,#b3-1,#b3-3,#b4-2,#b5-1,#b5-3{
    color: aliceblue;
    background-color: rgb(0, 0, 0);
}
#msg{
    display: none;
}
footer{
    height: 80px;
    background-color: bisque;
}
@media screen and (max-width:920px){
    .timer button{
        font-size: 2vw;
    }
    .timer .s span{
        font-size: 2.5vw;
    }
}
@media screen and (max-width:700px){
    nav button{
        font-size: 3.5vw;
    }
    main .container{
        width: 100vw;
        height: 70vh;
    }
}   
@media screen and (max-width:460px){
}  
@media screen and (max-width:369px){   
}
   
