.container-floyd{
    width: 100%;
    max-height: 100%;
}
#div2{
    background-color: bisque;
}
.container{
    width: 59%;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
body{
    margin: 0 auto;
    width: 100vw;
    height: 100vh ;
    background-color: black;
}

.hed{
    background-color: black;
    color: azure;
    gap: 1vw;
    padding: 1vh;
}
.hed button{
    background-color: rgb(255, 251, 246);
    border: 2px rgb(101, 96, 96) solid;
}
.hed button:hover{
    background-color: orange;
    transition: 0.3s;
}
.hed>nav{
    width: 50%;
    gap: 0.5vw;
    flex-wrap: wrap;
    padding: 1vw;
}
nav button{
    width: fit-content;
    height: fit-content;
    font-size: 2vw;
    border-radius: 10%;
    padding: 0.7%;
    transition: 0.3s;
}
.hed button:hover{
    background-color: orange;
    transition: 0.3s;
}
#result{
    flex-direction: column;
    width: fit-content; 
    font-size: 2vw;
   
}
.timer{
    width:fit-content;
    flex-direction: column;
    gap: 2px;
}
.timer .s{
    width: fit-content;
    font-size: 2vw;
}
.timer .b{
    height: fit-content;
    width: fit-content;
    gap: 0.5vw;
}
.timer button{
    width: fit-content;
    height: fit-content;
    font-size: 1.5vw;
    border-radius: 10%;
    padding: 0.7%;
    display: flex;
    justify-content: center;
}

main{
    background-color: rgb(255, 251, 246);
}
main .container{
    width: 50%;
    height: 34vw;
    display: flex;
    flex-wrap: wrap;
    margin: 25px 0;
    box-shadow: 0px 2px 25px 25px rgba(0, 0, 0, 0.184);
}
.butA{
    background-color: rgb(4, 4, 4);
    color: rgb(255, 255, 255);

}
.butB{ 
    background-color: rgb(255, 251, 246);
    color: rgb(0, 0, 0);
}
.playBut{
    width: 33.3%;
    height: 33.3%;
    font-size: 11vw;
    border: 0;
    transition: 0.3s;
}
.playBut:hover{
    background-color: orange;
    transition: 0.3s;
}
#msg{
    display: none;
}

@media screen and (max-width:920px){
    .timer button{
        font-size: 2vw;
    }
    .timer .s span{
        font-size: 2.5vw;
    }
}
@media screen and (max-width:700px){
    #result{
        font-size:4vw ;
    }
    .timer .s span{
        font-size: 4vw
    }
    .timer button{
        font-size:2.5vw ;
    }
    nav button{
        font-size: 3.5vw;
    }
    main .container{
        width: 100%;
        height: 70vh;
    }
    .playBut{
        font-size: 30vw;
    }
    

}   
@media screen and (max-width:100px){
    .hed{
        gap: 2px;
    }
    .hed nav{
        gap: 2px;
    }
    nav button{
        width: 30px;
        height: 25px;
        font-size: 6px;
    }
    .timer{
        font-size: 8px;
        width: 35px;
    }
    #result{
        font-size: 6px;
        width: 35px;
        
    }
    main .container{
        width: 200px;
        height: 200px;
    }
    .playBut{
        font-size: 80px;
    }

}
    

   
